* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

.header-left h1 a, .header-right nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-right nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-right nav ul li a.active, footer nav ul li a.active {
    color: red;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Учитываем высоту хедера и футера */
}

.login-container {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    color: white; /* Цвет заголовка */
}

.login-container label {
    color: white; /* Цвет меток для полей ввода */
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}

.login-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.login-container .invalid-feedback {
    color: red; /* Цвет для ошибок валидации */
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container h2 {
    color: rgba(255, 255, 255, 0.7); /* Цвет для текста регистрации */
}

.login-container h2 a {
    color: white; /* Цвет ссылки для регистрации */
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

footer h1 a, footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.book-button {
    padding: 10px 20px;
    background-color: #af3030; /* Кнопка */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #df3311; /* Цвет при наведении */
}
